# arch/arm/mach-exynos/Kconfig
#
# Copyright (c) 2010-2011 Samsung Electronics Co., Ltd.
#		http://www.samsung.com/
#
# Licensed under GPLv2

# Configuration options for the EXYNOS4

if ARCH_EXYNOS

menu "SAMSUNG EXYNOS SoCs Support"

config ARCH_EXYNOS4
	bool "SAMSUNG EXYNOS4"
	default y
	select HAVE_ARM_SCU if SMP
	select HAVE_SMP
	select MIGHT_HAVE_CACHE_L2X0
	help
	  Samsung EXYNOS4 SoCs based systems

config ARCH_EXYNOS5
	bool "SAMSUNG EXYNOS5"
	select HAVE_ARM_SCU if SMP
	select HAVE_SMP
	select HAVE_EXYNOS5_HSI2C if I2C
	help
	  Samsung EXYNOS5 (Cortex-A15) SoC based systems

comment "EXYNOS SoCs"

config CPU_EXYNOS4210
	bool "SAMSUNG EXYNOS4210"
	default y
	depends on ARCH_EXYNOS4
	select ARM_CPU_SUSPEND if PM
	select PM_GENERIC_DOMAINS
	select S5P_PM if PM
	select S5P_SLEEP if PM
	select SAMSUNG_DMADEV
	help
	  Enable EXYNOS4210 CPU support

config SOC_EXYNOS4212
	bool "SAMSUNG EXYNOS4212"
	default y
	depends on ARCH_EXYNOS4
	select S5P_PM if PM
	select S5P_SLEEP if PM
	select SAMSUNG_DMADEV
	help
	  Enable EXYNOS4212 SoC support

config SOC_EXYNOS4412
	bool "SAMSUNG EXYNOS4412"
	default y
	depends on ARCH_EXYNOS4
	select SAMSUNG_DMADEV
	help
	  Enable EXYNOS4412 SoC support

config SOC_EXYNOS5250
	bool "SAMSUNG EXYNOS5250"
	default y
	depends on ARCH_EXYNOS5
	select PM_GENERIC_DOMAINS if PM
	select S5P_PM if PM
	select S5P_SLEEP if PM
	select S5P_DEV_MFC
	select SAMSUNG_DMADEV
	help
	  Enable EXYNOS5250 SoC support

config SOC_EXYNOS5422
	bool "SAMSUNG EXYNOS5422"
	default n
	depends on ARCH_EXYNOS5
	select PM_GENERIC_DOMAINS if PM
	select S5P_PM if PM
	select S5P_SLEEP if SUSPEND
	select SAMSUNG_DMADEV
	help
	  Enable EXYNOS5422 SoC support

config SOC_EXYNOS5422_REV_0
	bool "Rev 0.0"
	depends on SOC_EXYNOS5422
	help
	  This option enables for REV 0

config SOC_EXYNOS5430
	bool "SAMSUNG EXYNOS5430"
	default n
	depends on ARCH_EXYNOS5
	select PM_GENERIC_DOMAINS if PM
	select S5P_PM if PM
	select S5P_SLEEP if SUSPEND
	select SAMSUNG_DMADEV
	select EXYNOS_HSI2C_RESET_DURING_DSTOP if CPU_IDLE
	select EXYNOS_I2C_RESET_DURING_DSTOP if CPU_IDLE
	select EXYNOS_SPI_RESET_DURING_DSTOP if CPU_IDLE
	select EXYNOS_ADC_RESET_DURING_DSTOP if CPU_IDLE
	select EXYNOS_PWM_RESET_DURING_DSTOP if CPU_IDLE
	select EXYNOS_TMU_RESET_DURING_DSTOP if CPU_IDLE
	select EXYNOS_HDMI_RESET_DURING_DSTOP if CPU_IDLE
	select EXYNOS_TOP_RTC_RESET_DURING_DSTOP if CPU_IDLE
	help
	  Enable EXYNOS5430 SoC support

choice
	prompt "Revision Type"
	depends on SOC_EXYNOS5430
	help
	  This option selects cpu revision number.

config SOC_EXYNOS5430_REV_1
	bool "Rev 1.0"
endchoice

choice
	prompt "Resolution Type"
	depends on SOC_EXYNOS5430
	help
	  This option selects display resolution type.

config EXYNOS5430_WQHD
	bool "Resolution WQHD (2560 x 1440)"

config EXYNOS5430_FHD
	bool "Resolution Full HD (1920 x 1080)"

config EXYNOS5430_HD
	bool "Resolution HD (1280 x 720)"
endchoice

menu "Exynos5430 Type"
	depends on SOC_EXYNOS5430

config SOC_EXYNOS5430_L
	bool "Exynos5430 L version"
	help
	  This option enable exynos5430 lite version
endmenu

config SOC_EXYNOS5433
	bool "SAMSUNG EXYNOS5433"
	default n
	depends on ARCH_EXYNOS5
	select PM_GENERIC_DOMAINS if PM
	select S5P_PM if PM
	select S5P_SLEEP if SUSPEND
	select SAMSUNG_DMADEV
	select EXYNOS_HSI2C_RESET_DURING_DSTOP if CPU_IDLE
	select EXYNOS_SPI_RESET_DURING_DSTOP if CPU_IDLE
	select CAL_SYS_PWRDOWN
	help
	  Enable EXYNOS5433 SoC support

config CAL_SYS_PWRDOWN
	bool

choice
	prompt "Revision Type"
	depends on SOC_EXYNOS5433
	help
	  This option selects cpu revision number.

config SOC_EXYNOS5433_REV_0
	bool "Rev 0.0"

config SOC_EXYNOS5433_REV_1
	bool "Rev 1.0"

endchoice

config EXYNOS5430_BTS
	bool "Bus traffic shaper support"
	default y
	depends on SOC_EXYNOS5430
	help
	  Enable BTS (Bus traffic shaper) support

config EXYNOS5433_BTS
	bool "Bus traffic shaper support"
	default y
	depends on SOC_EXYNOS5433
	help
	  Enable BTS (Bus traffic shaper) support

config EXYNOS5422_BTS
	bool "Bus traffic shaper support"
	default y
	depends on SOC_EXYNOS5422
	help
	  Enable BTS (Bus traffic shaper) support

config SOC_EXYNOS5440
	bool "SAMSUNG EXYNOS5440"
	default y
	depends on ARCH_EXYNOS5
	select ARCH_HAS_OPP
	select ARM_ARCH_TIMER
	select AUTO_ZRELADDR
	select PINCTRL
	select PINCTRL_EXYNOS5440
	select PM_OPP
	help
	  Enable EXYNOS5440 SoC support

menuconfig EXYNOS_SNAPSHOT
	bool "Enable SnapShot of exynos for debugging"
	default y
	depends on ARCH_EXYNOS

config EXYNOS_SNAPSHOT_CALLSTACK
	int "shown callstack level"
	depends on EXYNOS_SNAPSHOT
	range 1 4
	default 2

config EXYNOS_SNAPSHOT_IRQ_EXIT
	bool "Enable debugging of interrupt exit event by kevent"
	depends on EXYNOS_SNAPSHOT
	default y

config EXYNOS_SNAPSHOT_IRQ_EXIT_THRESHOLD
	int "threshold of detection(microsecond)"
	depends on EXYNOS_SNAPSHOT_IRQ_EXIT
	range 0 1000000
	default 0

config EXYNOS_SNAPSHOT_IRQ_DISABLED
	bool "Enable debugging of interrupt disable period by kevent"
	depends on EXYNOS_SNAPSHOT
	default y

config EXYNOS_SNAPSHOT_IRQ_DISABLED_THRESHOLD
	int "threshold of detection(microsecond)"
	depends on EXYNOS_SNAPSHOT_IRQ_DISABLED
	range 0 1000000
	default 30000

config EXYNOS_SNAPSHOT_HRTIMER
	bool "Enable debugging of hrtimer by kevent"
	depends on EXYNOS_SNAPSHOT
	default n

config EXYNOS_SNAPSHOT_SOFTIRQ
	bool "Enable debugging of softirq by kevent"
	depends on EXYNOS_SNAPSHOT
	default n

config EXYNOS_SNAPSHOT_REG
	bool "Enable debugging of accessing register by kevent"
	depends on EXYNOS_SNAPSHOT
	default n

config EXYNOS_SNAPSHOT_HOOK_LOGGER
	bool "Enable hooking android platform log for ramdump"
	depends on EXYNOS_SNAPSHOT
	default y

config EXYNOS_SNAPSHOT_PANIC_REBOOT
	bool "Enable forced reboot after panic for ramdump"
	depends on EXYNOS_SNAPSHOT
	default y

config EXYNOS5_DYNAMIC_CPU_HOTPLUG
	bool "Dynamic CPU Hotplug support"
	depends on CPU_FREQ
	help
		Enable Dynamic CPU Hotplug

menu "Extensions for Dynamic CPU Hotplug support"
depends on EXYNOS5_DYNAMIC_CPU_HOTPLUG
config DEFERRABLE_DM_HOTPLUG
	bool "Deferrable Hotplug Invoking"
	help
	  Dynamic CPU Hotplug is invoked deferrable-periodically

	  If in doubt, say N.
endmenu

config EXYNOS_CONTENT_PATH_PROTECTION
	bool "Exynos Content Path Protection"
	depends on (ARM_TRUSTZONE && ARCH_EXYNOS5)
	default y
	help
	  Enable content path protection of EXYNOS.

config EXYNOS_CORESIGHT
	bool "Exynos Coresight Debug(Show pc value)"
	default n
	help
	  Enable Coresight debug.

config EXYNOS_ATAGS
	bool "ATAGS based boot for EXYNOS (deprecated)"
	depends on !ARCH_MULTIPLATFORM
	depends on ATAGS
	default y
	help
	  The EXYNOS platform is moving towards being completely probed
	  through device tree. This enables support for board files using
	  the traditional ATAGS boot format.
	  Note that this option is not available for multiplatform builds.

config EXYNOS5_SETUP_MIPIPHY
	bool
	depends on (VIDEO_EXYNOS_FIMC_IS || DECON_MIPI_DSI)
	default y
	help
	  Compile in common setup code for MIPI-CSIS devices

config ASV_MARGIN_TEST
	bool "Enable margin test"
	depends on ARM_ATAG_DTB_COMPAT
	default n
	help
	  Support to ASV voltage margin test

config RESET_REASON_EXYNOS5430
	bool "Exynos5430 reset reason support"
	help
	  Exynos5430 hw and sw reset reasons record.

if EXYNOS_ATAGS

config EXYNOS_DEV_DMA
	bool
	help
	  Compile in amba device definitions for DMA controller

config EXYNOS4_DEV_AHCI
	bool
	help
	  Compile in platform device definitions for AHCI

config EXYNOS4_SETUP_FIMD0
	bool
	help
	  Common setup code for FIMD0.

config EXYNOS4_DEV_USB_OHCI
	bool
	help
	  Compile in platform device definition for USB OHCI

config EXYNOS4_SETUP_I2C1
	bool
	help
	  Common setup code for i2c bus 1.

config EXYNOS4_SETUP_I2C2
	bool
	help
	  Common setup code for i2c bus 2.

config EXYNOS4_SETUP_I2C3
	bool
	help
	  Common setup code for i2c bus 3.

config EXYNOS4_SETUP_I2C4
	bool
	help
	  Common setup code for i2c bus 4.

config EXYNOS4_SETUP_I2C5
	bool
	help
	  Common setup code for i2c bus 5.

config EXYNOS4_SETUP_I2C6
	bool
	help
	  Common setup code for i2c bus 6.

config EXYNOS4_SETUP_I2C7
	bool
	help
	  Common setup code for i2c bus 7.

config EXYNOS4_SETUP_KEYPAD
	bool
	help
	  Common setup code for keypad.

config EXYNOS4_SETUP_SDHCI
	bool
	select EXYNOS4_SETUP_SDHCI_GPIO
	help
	  Internal helper functions for EXYNOS4 based SDHCI systems.

config EXYNOS4_SETUP_SDHCI_GPIO
	bool
	help
	  Common setup code for SDHCI gpio.

config EXYNOS4_SETUP_FIMC
	bool
	help
	  Common setup code for the camera interfaces.

config EXYNOS4_SETUP_USB_PHY
	bool
	help
	  Common setup code for USB PHY controller

config EXYNOS_SETUP_SPI
	bool
	help
	  Common setup code for SPI GPIO configurations.

# machine support

if ARCH_EXYNOS4

comment "EXYNOS4210 Boards"

config MACH_SMDKC210
	bool "SMDKC210"
	select MACH_SMDKV310
	help
	  Machine support for Samsung SMDKC210

config MACH_SMDKV310
	bool "SMDKV310"
	select CPU_EXYNOS4210
	select EXYNOS4_DEV_AHCI
	select EXYNOS4_DEV_USB_OHCI
	select EXYNOS4_SETUP_FIMD0
	select EXYNOS4_SETUP_I2C1
	select EXYNOS4_SETUP_KEYPAD
	select EXYNOS4_SETUP_SDHCI
	select EXYNOS4_SETUP_USB_PHY
	select EXYNOS_DEV_DMA
	select EXYNOS_DEV_SYSMMU
	select S3C24XX_PWM
	select S3C_DEV_HSMMC
	select S3C_DEV_HSMMC1
	select S3C_DEV_HSMMC2
	select S3C_DEV_HSMMC3
	select S3C_DEV_I2C1
	select S3C_DEV_RTC
	select S3C_DEV_USB_HSOTG
	select S3C_DEV_WDT
	select S5P_DEV_FIMC0
	select S5P_DEV_FIMC1
	select S5P_DEV_FIMC2
	select S5P_DEV_FIMC3
	select S5P_DEV_FIMD0
	select S5P_DEV_G2D
	select S5P_DEV_I2C_HDMIPHY
	select S5P_DEV_JPEG
	select S5P_DEV_MFC
	select S5P_DEV_TV
	select S5P_DEV_USB_EHCI
	select SAMSUNG_DEV_BACKLIGHT
	select SAMSUNG_DEV_KEYPAD
	select SAMSUNG_DEV_PWM
	help
	  Machine support for Samsung SMDKV310

config MACH_ARMLEX4210
	bool "ARMLEX4210"
	select CPU_EXYNOS4210
	select EXYNOS4_DEV_AHCI
	select EXYNOS4_SETUP_SDHCI
	select EXYNOS_DEV_DMA
	select S3C_DEV_HSMMC
	select S3C_DEV_HSMMC2
	select S3C_DEV_HSMMC3
	select S3C_DEV_RTC
	select S3C_DEV_WDT
	help
	  Machine support for Samsung ARMLEX4210 based on EXYNOS4210

config MACH_UNIVERSAL_C210
	bool "Mobile UNIVERSAL_C210 Board"
	select CLKSRC_MMIO
	select CLKSRC_SAMSUNG_PWM
	select CPU_EXYNOS4210
	select EXYNOS4_SETUP_FIMC
	select EXYNOS4_SETUP_FIMD0
	select EXYNOS4_SETUP_I2C1
	select EXYNOS4_SETUP_I2C3
	select EXYNOS4_SETUP_I2C5
	select EXYNOS4_SETUP_SDHCI
	select EXYNOS4_SETUP_USB_PHY
	select EXYNOS_DEV_DMA
	select EXYNOS_DEV_SYSMMU
	select S3C_DEV_HSMMC
	select S3C_DEV_HSMMC2
	select S3C_DEV_HSMMC3
	select S3C_DEV_I2C1
	select S3C_DEV_I2C3
	select S3C_DEV_I2C5
	select S3C_DEV_USB_HSOTG
	select S5P_DEV_CSIS0
	select S5P_DEV_FIMC0
	select S5P_DEV_FIMC1
	select S5P_DEV_FIMC2
	select S5P_DEV_FIMC3
	select S5P_DEV_FIMD0
	select S5P_DEV_G2D
	select S5P_DEV_I2C_HDMIPHY
	select S5P_DEV_JPEG
	select S5P_DEV_MFC
	select S5P_DEV_ONENAND
	select S5P_DEV_TV
	select S5P_GPIO_INT
	select S5P_SETUP_MIPIPHY
	help
	  Machine support for Samsung Mobile Universal S5PC210 Reference
	  Board.

config MACH_NURI
	bool "Mobile NURI Board"
	select CPU_EXYNOS4210
	select EXYNOS4_SETUP_FIMC
	select EXYNOS4_SETUP_FIMD0
	select EXYNOS4_SETUP_I2C1
	select EXYNOS4_SETUP_I2C3
	select EXYNOS4_SETUP_I2C5
	select EXYNOS4_SETUP_I2C6
	select EXYNOS4_SETUP_SDHCI
	select EXYNOS4_SETUP_USB_PHY
	select EXYNOS_DEV_DMA
	select S3C_DEV_HSMMC
	select S3C_DEV_HSMMC2
	select S3C_DEV_HSMMC3
	select S3C_DEV_I2C1
	select S3C_DEV_I2C3
	select S3C_DEV_I2C5
	select S3C_DEV_I2C6
	select S3C_DEV_RTC
	select S3C_DEV_USB_HSOTG
	select S3C_DEV_WDT
	select S5P_DEV_CSIS0
	select S5P_DEV_FIMC0
	select S5P_DEV_FIMC1
	select S5P_DEV_FIMC2
	select S5P_DEV_FIMC3
	select S5P_DEV_FIMD0
	select S5P_DEV_G2D
	select S5P_DEV_JPEG
	select S5P_DEV_MFC
	select S5P_DEV_USB_EHCI
	select S5P_GPIO_INT
	select S5P_SETUP_MIPIPHY
	select SAMSUNG_DEV_ADC
	select SAMSUNG_DEV_PWM
	help
	  Machine support for Samsung Mobile NURI Board.

config MACH_ORIGEN
	bool "ORIGEN"
	select CPU_EXYNOS4210
	select EXYNOS4_DEV_USB_OHCI
	select EXYNOS4_SETUP_FIMD0
	select EXYNOS4_SETUP_SDHCI
	select EXYNOS4_SETUP_USB_PHY
	select EXYNOS_DEV_DMA
	select EXYNOS_DEV_SYSMMU
	select S3C24XX_PWM
	select S3C_DEV_HSMMC
	select S3C_DEV_HSMMC2
	select S3C_DEV_RTC
	select S3C_DEV_USB_HSOTG
	select S3C_DEV_WDT
	select S5P_DEV_FIMC0
	select S5P_DEV_FIMC1
	select S5P_DEV_FIMC2
	select S5P_DEV_FIMC3
	select S5P_DEV_FIMD0
	select S5P_DEV_G2D
	select S5P_DEV_I2C_HDMIPHY
	select S5P_DEV_JPEG
	select S5P_DEV_MFC
	select S5P_DEV_TV
	select S5P_DEV_USB_EHCI
	select SAMSUNG_DEV_BACKLIGHT
	select SAMSUNG_DEV_PWM
	help
	  Machine support for ORIGEN based on Samsung EXYNOS4210

comment "EXYNOS4212 Boards"

config MACH_SMDK4212
	bool "SMDK4212"
	select EXYNOS4_SETUP_FIMD0
	select EXYNOS4_SETUP_I2C1
	select EXYNOS4_SETUP_I2C3
	select EXYNOS4_SETUP_I2C7
	select EXYNOS4_SETUP_KEYPAD
	select EXYNOS4_SETUP_SDHCI
	select EXYNOS4_SETUP_USB_PHY
	select EXYNOS_DEV_DMA
	select EXYNOS_DEV_SYSMMU
	select S3C24XX_PWM
	select S3C_DEV_HSMMC2
	select S3C_DEV_HSMMC3
	select S3C_DEV_I2C1
	select S3C_DEV_I2C3
	select S3C_DEV_I2C7
	select S3C_DEV_RTC
	select S3C_DEV_USB_HSOTG
	select S3C_DEV_WDT
	select S5P_DEV_FIMC0
	select S5P_DEV_FIMC1
	select S5P_DEV_FIMC2
	select S5P_DEV_FIMC3
	select S5P_DEV_FIMD0
	select S5P_DEV_MFC
	select SAMSUNG_DEV_BACKLIGHT
	select SAMSUNG_DEV_KEYPAD
	select SAMSUNG_DEV_PWM
	select SOC_EXYNOS4212
	help
	  Machine support for Samsung SMDK4212

comment "EXYNOS4412 Boards"

config MACH_SMDK4412
	bool "SMDK4412"
	select MACH_SMDK4212
	select SOC_EXYNOS4412
	help
	  Machine support for Samsung SMDK4412
endif

endif

comment "Flattened Device Tree based board for EXYNOS SoCs"

config MACH_EXYNOS4_DT
	bool "Samsung Exynos4 Machine using device tree"
	depends on ARCH_EXYNOS4
	select ARM_AMBA
	select CLKSRC_OF
	select CLKSRC_SAMSUNG_PWM if CPU_EXYNOS4210
	select CPU_EXYNOS4210
	select KEYBOARD_SAMSUNG if INPUT_KEYBOARD
	select PINCTRL
	select PINCTRL_EXYNOS
	select S5P_DEV_MFC
	select USE_OF
	help
	  Machine support for Samsung Exynos4 machine with device tree enabled.
	  Select this if a fdt blob is available for the Exynos4 SoC based board.
	  Note: This is under development and not all peripherals can be supported
	  with this machine file.

config MACH_EXYNOS5_DT
	bool "SAMSUNG EXYNOS5 Machine using device tree"
	default y
	depends on ARCH_EXYNOS5
	select ARM_AMBA
	select CLKSRC_OF
	select PINCTRL
	select PINCTRL_EXYNOS
	select USE_OF
	help
	  Machine support for Samsung EXYNOS5 machine with device tree enabled.
	  Select this if a fdt blob is available for the EXYNOS5 SoC based board.

config MACH_SMDK5422
	bool "SAMSUNG SMDK5422 Machine using device tree"
	default y
	depends on ARCH_EXYNOS5 && SOC_EXYNOS5422
	select ARM_AMBA
	select CLKSRC_OF
	select PINCTRL
	select PINCTRL_EXYNOS
	select USE_OF
	help
	  Machine support for Samsung EXYNOS5422 machine with device tree enabled.
	  Select this if a fdt blob is available for the EXYNOS5422 SoC based board.

config MACH_XYREF5422
	bool "SAMSUNG XYREF5422 Machine using device tree"
	default y
	depends on ARCH_EXYNOS5 && SOC_EXYNOS5422
	select ARM_AMBA
	select CLKSRC_OF
	select PINCTRL
	select PINCTRL_EXYNOS
	select USE_OF
	help
	  Machine support for Samsung EXYNOS5422 machine with device tree enabled.
	  Select this if a fdt blob is available for the EXYNOS5422 SoC based board.

config MACH_XYREF5430
	bool "SAMSUNG XYREF5430 Machine using device tree"
	depends on ARCH_EXYNOS5
	select ARM_AMBA
	select CLKSRC_OF
	select PINCTRL
	select PINCTRL_EXYNOS
	select USE_OF
	help
	  Machine support for Samsung EXYNOS5430 machine with device tree enabled.
	  Select this if a fdt blob is available for the EXYNOS5430 SoC based board.

config MACH_ESPRESSO5430
	bool "SAMSUNG ESPRESSO5430 Machine using device tree"
	default y
	depends on ARCH_EXYNOS5 && SOC_EXYNOS5430
	select ARM_AMBA
	select CLKSRC_OF
	select PINCTRL
	select PINCTRL_EXYNOS
	select USE_OF
	help
	  Machine support for Samsung EXYNOS5430 machine with device tree enabled.
	  Select this if a fdt blob is available for the EXYNOS5430 SoC based board.

config MACH_M76
	bool "MEIZU M76 Machine using device tree"
	default y
	depends on ARCH_EXYNOS5 && SOC_EXYNOS5430
	select ARM_AMBA
	select CLKSRC_OF
	select PINCTRL
	select PINCTRL_EXYNOS
	select USE_OF
	select RESET_REASON_EXYNOS5430
	help
	  Machine support for MEIZU M76 machine with device tree enabled.
	  Select this if a fdt blob is available for the EXYNOS5430 SoC based board.

choice
	prompt "Kernel type selection for MEIZU MX"
	depends on MACH_M76

config ENG_KERNEL
	bool "Build Eng Kernel"
	help
		Build Eng kernel

config USER_KERNEL
	bool "Build User Kernel"
	help
		Build User kernel

config UNICOM_KERNEL
	bool "Build Unicom Kernel"
	help
		Build Unicom kernel

config OVERSEAS_KERNEL
	bool "Build Overseas Kernel"
	help
		Build Overseas kernel

config RECOVERY_KERNEL
	bool "Build Recovery Kernel"
	help
		Build Recovery kernel

config CHARGE_KERNEL
	bool "Build Charge Kernel"
	help
		Build Charge kernel

config FACTORY_KERNEL
	bool "Build Factory Kernel"
	help
		Build factory kernel
endchoice

config TOUCH_BOOSTER
	bool "Enable touch input boost"
	depends on MACH_M76 && CPU_FREQ && !CHARGE_KERNEL && !RECOVERY_KERNEL
	default y
	help
	  Enable touch input boost function.

config EXYNOS54XX_DEBUG
	bool "ARM Debug architecture v7.1 support"
	depends on SOC_EXYNOS5430 || SOC_EXYNOS5433
	default y
	help
	  Enable preserve debug logic state.

choice
	prompt "Type of Periodic Devfreq method"
	default DELAYED_INVOKING
	help
		This option sets which type of Workqueue shall be used for periodic execution. 
		Such as, DEVFREQ, MIF DTM, Cluster On/Off Monitoring, PPMU Monitoring, and Main DTM
		
config DELAYED_INVOKING
	bool "Use delayed workqueue"
	help 
		Use the INIT_DELAYED_WORK() for Devfreq
		
config DEFERRABLE_INVOKING
	bool "Use deferrable workqueue"
	help 
		Use the INIT_DEFERRABLE_WORK() for Devfreq

config HYBRID_INVOKING
	bool "Use hybrid workqueue"
	help 
		Use the Hybrid WQ (both DELAYED and DEFERRABLE) for Devfreq

endchoice

config MIF_EXPEDITION
	bool "Higher MIF frequency requested by CPU PM QoS"
	help
	  Request the higher MIF min frequency through PM QoS by
	  CPU Freq driver in accordance with its own frequency.

config MINI_ASV_TABLE
	bool "EXYNOS5430 MINI ASV Table"
	default n
	help
	  Supply exynos5430 mini asv table.

if ARCH_EXYNOS4

comment "Configuration for HSMMC 8-bit bus width"

config EXYNOS4_SDHCI_CH0_8BIT
	bool "Channel 0 with 8-bit bus"
	help
	  Support HSMMC Channel 0 8-bit bus.
	  If selected, Channel 1 is disabled.

config EXYNOS4_SDHCI_CH2_8BIT
	bool "Channel 2 with 8-bit bus"
	help
	  Support HSMMC Channel 2 8-bit bus.
	  If selected, Channel 3 is disabled.
endif

endmenu

# Reset IPs during LPA/DSTOP
config EXYNOS_HSI2C_RESET_DURING_DSTOP
	bool

config EXYNOS_I2C_RESET_DURING_DSTOP
	bool

config EXYNOS_SPI_RESET_DURING_DSTOP
	bool

config EXYNOS_ADC_RESET_DURING_DSTOP
	bool

config EXYNOS_PWM_RESET_DURING_DSTOP
	bool

config EXYNOS_TMU_RESET_DURING_DSTOP
	bool

config EXYNOS_HDMI_RESET_DURING_DSTOP
	bool

config EXYNOS_TOP_RTC_RESET_DURING_DSTOP
	bool

endif
